p {
  color:red;
  font-size: 4rem;
  text-align: center;
  background-image: none;
  background-color: transparent;
}

#smalltext {
  color:grey;
  font-size: 1rem;
  text-align: center;
}

div {
  text-align: center;
  margin: 1em
}

.answer {
  opacity: 0;
  color: white;
}

.button {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  border-radius: 2rem;
  border-color: black;
}




.red {
  color: white;
  background-color: red;
}

.black {
  color: black;
  background-color:green;
}

body {
  display: flex;
  flex-direction:column;
  justify-content:center;
  background-image: url("vanier1.png");
  background-size: cover;
}

.errorlist {
        color: white;
    }

